<% @characters.each do |character| %>
  <%= link_to character_path(character), class: "text-decor" do %>
  <div class="card-product col mb-2" >
    <%= cloudinary_picture(character) %>
    <div class="card-product-infos">
      <div class="card-product-infos-top">
        <div>
          <p><%= character.title%></p>
          <h2><%= character.name%></h2>
        </div>

        <i class="fas fa-heart" ></i>
      </div>
      <div class="card-product-infos-bottom">
       <p class="profession">Profession: <%= character.profession%></p>
        <p class="price">Price: <%= character.price%>0€</p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
