
<div class="modal fade" id="modal-<%= booking.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Leave a Review!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
              <%= simple_form_for @review, remote: true do |f| %>
                <%= f.input :content %>
                <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience with the character" %>
                <%= f.hidden_field :booking_id, value: booking.id %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Send your review" %>
      </div>
       <% end %>
    </div>
  </div>
</div>
