<div class="container">
    <h1>My Dashboard</h1>
    <h2 class="category-header">My Characters</h2>
    <div style="width: 100%" >
        <%= render "components/card-dashboard" %>
    </div>
    <h2 class="category-header">My Bookings</h2>
    <% @bookings.each do |booking| %>
    <%= render "new_review", booking: booking %>
      <div class="card-product col mb-2" >
        <%= cloudinary_picture(booking.character) %>
        <div class="card-product-infos">
          <div class="card-product-infos-top">
            <div>
              <p><%= booking.character.name%></p>
              <h2><%= booking.character.title%></h2>
            </div>

            <i class="fas fa-heart" ></i>
          </div>
          <div class="card-product-infos-bottom d-flex align-items-end">
              <div class="icons justify-content-evenly">
                <p class="p-2 bd-highlight"><i class="fas fa-euro-sign"></i> <%= booking.total_price.round %></p>
                <p class="p-2 bd-highlight"><i class="fas fa-landmark"></i> <%= booking.start_date %></p>
                <p class="p-2 bd-highlight"><i class="fas fa-theater-masks"></i> <%= booking.end_date %></p>
              </div>
            <% unless booking.review.present? && booking.review.user == current_user %>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-<%= booking.id %>">
                  Leave a Review!
                </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
