
<h1>List of all Characters</h1>

<% if user_signed_in?  %>
  <%= link_to "New Character", new_character_path  %>
<% else  %>
  <p>Please <%= link_to "sign in", new_user_session_path %> to create a new character</p>
<% end %>

<div class="container">
    <% @characters.each do |character| %>
        <div class="card-product">
            <%= cl_image_tag character.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
                <%= character.title %>
                <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
        </div>
    <% end  %>
</div>

 <%# <% if policy(character).update? %>
<%# <%= link_to 'Edit', edit_character_path(character) %>

<%# <% if policy(character).create? %>
  <%# <%= link_to 'New Character', new_character_path %>
<%# <% end %>
