<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="container">
<h1>Pick a Character</h1>

<div class="container d-flex mb-5">
  <div style="width: 60%" >
        <%= render "components/card-product" %>
   </div>

 <%# <% if policy(character).update? %>
<%# <%= link_to 'Edit', edit_character_path(character) %>

<%# <% if policy(character).create? %>
  <%# <%= link_to 'New Character', new_character_path %>
<%# <% end %>

  <div style="width: 40%; height: 100vh; margin-left: 8px; margin-bottom: 8px; box-shadow: 0 0 15px rgba(0,0,0,0.2);"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    class="rounded"
    id="map-index">
  </div>
</div>
