<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="container">
<h1>List of all Characters</h1>
<% if user_signed_in?  %>
<h1 >Welcome on our platform</h1>
<% else  %>
  <p>Please <%= link_to "sign in", new_user_session_path %> to create a new character</p>
<% end %>

<div class="container d-flex">

  <div class="container">
    <div class="m-3">
      <% @characters.each do |character| %>
        <div class="card-product col m-2">
          <%= cloudinary_picture(character) %>
            <div class="card-product-infos">
              <h2><%= character.title %></h2>
              <p><%= character.description%></p>
            </div>
            <i class="fas fa-heart d-flex align-items-end flex-column padding p-1" style="height: 200px;"></i>
          </div>
        <% end %>
    </div>
  </div>

 <%# <% if policy(character).update? %>
<%# <%= link_to 'Edit', edit_character_path(character) %>

<%# <% if policy(character).create? %>
  <%# <%= link_to 'New Character', new_character_path %>
<%# <% end %>

  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    class="rounded"
    id="map-index">
  </div>
</div>
