<div class="container m-5" style="margin-top: 120px">

  <div class="show-all row">

    <div class="text col-6 pt-3">
      <div class="icons d-flex flex-row bd-highlight justify-content-end">
        <p class="p-2 bd-highlight"><i class="fas fa-landmark"></i> <%= @character.historical_period %></p>
        <p class="p-2 bd-highlight"><i class="fas fa-theater-masks"></i> <%= @character.profession %></p>
      </div>
      <div class="titles">
        <p><%= @character.name %></p>
        <h2><%= @character.title %></h2>
      </div>

      <div class="icons d-flex flex-row bd-highlight m-4 justify-content-evenly">
        <p class="p-2 bd-highlight"><i class="fas fa-euro-sign"></i> <%= @character.price.round %></p>
        <p class="p-2 bd-highlight"><i class="fas fa-landmark"></i> <%= @character.historical_period %></p>
        <p class="p-2 bd-highlight"><i class="fas fa-theater-masks"></i> <%= @character.profession %></p>
      </div>


     <!-- Button trigger modal -->
<div class="booking-btn d-flex bd-highlight mb-3 justify-content-center">
<button type="button" class="btn btn-flat-white d-inline-flex" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Book now
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Booking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [ @character, @booking ], html: {data: {controller: "flatpickr"}} do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} , label: "Your Start date" %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} , label: 'Your End Date'%>
        <%= f.submit "Enjoy your time ", class: "btn btn-primary justify-content-center" %>
        <%  end %>
      </div>
    </div>
  </div>
</div>

      <div class="description">
        <p><%= @character.description %></p>
      </div>
    </div>

    <div class="show-image col-6 d-flex justify-content-center">
      <%= cloudinary_picture(@character) %>
    </div>

  </div>

</div>

<div class="container mb-5 rounded">
    <div style="width: 100%; height: 200px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
      class="rounded" ></div>
</div>

<div>

</div>

<div class="container mb-3" >
  <h2 class="category-header" >Reviews</h2>
  <% if @character.reviews.present? %>
      <div class="container d-flex flex-wrap" id="review-gap">
      <% @character.reviews.each do |review| %>
        <div class="card" style="width: 400px;">
          <div class="card-body">
            <h5 class="card-title"><%= review.user.email %></h5>
            <h6 class="card-subtitle mb-2 text-muted"> <%= review.rating %></h6>
            <p class="card-text"><%= review.content %></p>
          </div>
        </div>
      <% end %>
      </div>
  <% else %>
      <h2 style=""></h2>
  <% end %>
</div>
