<h1>Selected Character (Placeholder) </h1>

<div>
    <%= @character.name %>
    <%= @character.title %>
    <%= @character.description %>
    <%= @character.price %>
    <%= cloudinary_picture(@character) %>
</div>
